
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.3/glider.css" integrity="sha256-iPsudnabiwicvkHYvYoY/GKZKNy6Bh6uZoZANB83/4E=" crossorigin="anonymous" />
<%- include('../components/topnavbar') -%>

<section class="hero">
    <div class="hero-wrapper">
        <h1>A contact-free queue system for <span>maximizing</span> safety</h1>
        <p>Put customers and staff out of harm's way with planned visits, online sign-in and SMS queuing.</p>
        <a href="/plans" class="btn-front btn-ff">Get Started</a>
        <div class="hero-bottom__img">
            <div class="left-blob">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#372E42" d="M62.4,0.5C62.4,30.6,31.2,61.2,-0.3,61.2C-31.8,61.2,-63.6,30.6,-63.6,0.5C-63.6,-29.6,-31.8,-59.3,-0.3,-59.3C31.2,-59.3,62.4,-29.6,62.4,0.5Z" transform="translate(100 100)" />
                  </svg>
            </div>
            <div class="left-bottom-blob">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#372E42" d="M56.2,3.3C56.2,23.6,28.1,47.2,2.3,47.2C-23.5,47.2,-47,23.6,-47,3.3C-47,-17,-23.5,-34,2.3,-34C28.1,-34,56.2,-17,56.2,3.3Z" transform="translate(100 100)" />
                  </svg>
            </div>
            <img src="/assets/mod-music.svg" id="triggerNav">
        </div>
    </div>
</section>
<div class="key-features" id="feature">
    <div class="container">
    <h4>Key features</h4>
    <h2>Keep your locations safely open during COVID-19 quarantine</h2>
    <div class="custom-row">
        <div class="col-3">
            <div class="card">
                <img src="/assets/icons/know.svg">
                <h3>Know who is coming</h3>
                <p>Flex-Q Queue Management System records your imminent customer’s and the services they intend to use.</p>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="/assets/icons/traffic.svg">
                <h3>Manage traffic</h3>
                <p>A cloud-based queue management system allows you to monitor your customer visits at each location.</p>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="/assets/icons/welcome.svg">
                <h3>Welcome customers</h3>
                <p>Share your planner page with customers. This will allow your walk-in customers to book their tickets and get their ticket number via SMS.</p>
            </div>
        </div>
    </div>
  </div>
</div>

<section class="about-brand" id="about">
    <div class="wrapper-ninety">
        <div class="row">
            <div class="one-half column">
                <h5>about us</h5>
                <h2>About Flex-Q Queuing System</h2>
                <p>Flex-Q is a queue management system that allows businesses to handle customer queues smartly and speedily.</p>
                <p>Flex-Q is an intelligent and cloud-based system that can monitor data related to queues in real time, and collect customer feedback. Our cloud based software can then assess this data to speed up the performance of your agents and services</p>
            </div>
            <div class="one-half column">
                <img src="/assets/icons/work-flow.svg">
            </div>
        </div>
    </div>
</section>
<section class="about-brand" id="vp">
    <div class="wrapper-ninety">
        <div class="row">
            <div class="one-half column">
                <img src="/assets/icons/education.svg">
            </div>
            <div class="one-half column">
                <h5>Visit planner</h5>
                <h2>Great visiting experience planned in advance</h2>
                <p>Visit Planner is a small website that displays real-time information about your location, based on Flex-Q's queuing data. Access to Visit Planner allows customers to choose the best time for a visit and sign in remotely.</p>
                <p>Visit Planner helps your visitors find, at a glance, the ideal time to visit your location. Keep your visitors informed with a status screen, updated every minute.</p>
                <a href="/queue/my-queing-page" target="_blank" class="btn-front btn-fo">See demo</a>
            </div>
        </div>
    </div>
</section>

<div class="glide">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">
        <li class="glide__slide">
            <div class="how--row">
                <div class="how--img">
                    <img src="/assets/Guacamole Illustrations/svg/16_message_sent_general.svg">
                </div>
                <div class="how--content">
                    <div class="container">
                        <h5>How it works</h5>
                        <h3>Safe visits, planned ahead</h3>
                        <p>Let people see your peak hours and visitor capacity. Customers will make decisions on when to visit, based on concrete service data. Avoid crowded waiting rooms from the first step.</p>
                        <a href="/plans" class="btn-front btn-outline">Get Started</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="glide__slide">
            <div class="how--row">
                <div class="how--img">
                    <img src="/assets/Guacamole Illustrations/svg/1_work_at_home_general.svg">
                </div>
                <div class="how--content">
                    <div class="container">
                        <h5>How it works</h5>
                        <h3>Virtual visitor queuing</h3>
                        <p>Help your customers practice social distancing, by giving them the means to self check in remotely. Let customers sign in by a call, online and then wait from the safety of their homes or cars.</p>
                        <a href="/plans" class="btn-front btn-outline">Get Started</a>
                      </div>
                </div>
            </div>
           
        </li>
        <li class="glide__slide">
            <div class="how--row">
                <div class="how--img">
                    <img src="/assets/Guacamole Illustrations/svg/2_yoga_general.svg">
                </div>
                <div class="how--content">
                  <div class="container">
                    <h5>How it works</h5>
                    <h3>Connect from a safe distance</h3>
                    <p>Send SMS messages to visitors with status updates. Share any changes or delays in service over the phone to prepare for service and minimize visit time.</p>
                    <a href="/plans" class="btn-front btn-outline">Get Started</a>
                  </div>
                </div>
            </div>
        </li>
      </ul>
      <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
      </div>
    </div>
  </div>

  <div class="get-started">
      <div class="container">
          <div class="inner-wrapper">
              <div class="row">
                  <div class="one-half column">
                    <h3>Get started now</h3>
                    <p>Free 14 days trial. No contract. Cancel any time.</p>
                  </div>
                  <div class="one-half column mt-3">
                      <br>
                      <a href="/plans" class="btn-front btn-fo">Start you free trial</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  

  <%- include('../components/footer') -%>

<%- include('../components/uialert') -%>


<script src="https://unpkg.com/@glidejs/glide@3.4.1/dist/glide.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>


<script>
 document.querySelectorAll('a[href^="#"]').forEach(anchor => {
  anchor.addEventListener('click', function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
      });
  });
});

new Glide('.glide').mount()



var controller = new ScrollMagic.Controller();
var tl = new TimelineMax();


new ScrollMagic.Scene({
  triggerElement: "#about",
  triggerHook: "onLeave",
  duration: "100%"
})
.setTween(tl)
.setTween("#vp, #about", 0.5, {backgroundColor: "#df9f7f"}) // trigger a TweenMax.to tween
.addTo(controller);

new ScrollMagic.Scene({
  triggerElement: "#triggerNav",
  triggerHook: "onLeave",
  duration: 1
})
.setTween(tl)
.setTween(".topnav-bar, .tn-items a, .u-logs-a", 0.5, {backgroundColor: "#ffffff", color: '#6f6f74'}) // trigger a TweenMax.to tween
.addTo(controller);


const mobileNav = document.querySelector('.mobile-menu')
document.querySelector('.menu-trigger').addEventListener('click', (e) => {
    e.preventDefault()

    if(mobileNav.classList.contains('not-active')){
        mobileNav.style.transform = 'translateY(0%)'
        mobileNav.classList.remove('not-active')
    } else {
        mobileNav.style.transform = 'translateY(-200%)'
        mobileNav.classList.add('not-active')
    }

})

</script>