<title>FlexyQ Queuing System</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.3/glider.css" integrity="sha256-iPsudnabiwicvkHYvYoY/GKZKNy6Bh6uZoZANB83/4E=" crossorigin="anonymous" />


<!-- Start of Async Drift Code -->
<script>
        "use strict";

        !function() {
        var t = window.driftt = window.drift = window.driftt || [];
        if (!t.init) {
            if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
            t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
            t.factory = function(e) {
            return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
            };
            }, t.methods.forEach(function(e) {
            t[e] = t.factory(e);
            }), t.load = function(t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
        };
        }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('tzbfxtwwer3r');
</script>
<!-- End of Async Drift Code -->

<%- include('../components/topnavbar') -%>

<section class="hero">
    <div class="hero-wrapper">
        <h1>A contact-free queue system for <span>maximizing</span> safety</h1>
        <p>Put customers and staff out of harm's way with planned visits, online sign-in and SMS queuing.</p>
        <a href="/plans" class="btn-front is-icon-hold btn-ff"><ion-icon name="send"></ion-icon> Get Started</a>
        <div class="hero-bottom__img">
            <div class="left-blob">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#372E42" d="M62.4,0.5C62.4,30.6,31.2,61.2,-0.3,61.2C-31.8,61.2,-63.6,30.6,-63.6,0.5C-63.6,-29.6,-31.8,-59.3,-0.3,-59.3C31.2,-59.3,62.4,-29.6,62.4,0.5Z" transform="translate(100 100)" />
                  </svg>
            </div>
            <div class="left-bottom-blob">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#372E42" d="M56.2,3.3C56.2,23.6,28.1,47.2,2.3,47.2C-23.5,47.2,-47,23.6,-47,3.3C-47,-17,-23.5,-34,2.3,-34C28.1,-34,56.2,-17,56.2,3.3Z" transform="translate(100 100)" />
                  </svg>
            </div>
            <img src="/assets/mod-music.svg" id="triggerNav">
        </div>
    </div>
</section>
<div class="key-features" id="feature">
    <div class="container">
    <h4>Key features</h4>
    <h2>Keep and operate your business safely by reducing crowded waiting areas</h2>
    <div class="custom-row">
        <div class="col-3">
            <div class="card">
                <img src="/assets/icons/know.svg">
                <h3>Know who is coming</h3>
                <p>FlexyQ Queue Management System records your imminent customers and the services they intend to use.</p>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="/assets/icons/welcome.svg">
                <h3>Welcome customers</h3>
                <p>Share your virtual queue planner page with your  customers. This will allow your walk-in customers to book their position in the queue and get notified via SMS when they get to the front of the line.</p>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="/assets/icons/traffic.svg">
                <h3>Manage traffic</h3>
                <p>A cloud-based queue management system allows you to monitor your customer visits at each location.</p>
            </div>
        </div>
    </div>
  </div>
</div>

<section class="about-brand" id="about">
    <div class="wrapper-ninety">
        <div class="row">
            <div class="one-half column">
                <h5>about us</h5>
                <h2>About FlexyQ Queuing System</h2>
                <p>FlexyQ is a queue management system that allows businesses to handle customer queues smartly and speedily.</p>
                <p>FlexyQ is an intelligent and cloud-based system that can monitor data related to queues in real time, and collect customer feedback. Our cloud based software can then assess this data to speed up the performance of your agents and services</p>
            </div>
            <div class="one-half column">
                <img src="/assets/icons/work-flow.svg">
            </div>
        </div>
    </div>
</section>
<section class="about-brand" id="vp">
    <div class="wrapper-ninety">
        <div class="row">
            <div class="one-half column">
                <img src="/assets/icons/education.svg">
            </div>
            <div class="one-half column">
                <h5>Visit planner</h5>
                <h2>Great visiting experience planned in advance</h2>
                <p>Visit Planner is a small website that displays real-time information about your location, based on FlexyQ's queuing data. Access to Visit Planner allows customers to choose the best time for a visit and sign in remotely.</p>
                <p>Visit Planner helps your visitors find, at a glance, the ideal time to visit your location. Keep your visitors informed with a status screen, updated every minute.</p>
                <a href="/queue/flexyq-virtual-queue" target="_blank" class="btn-front btn-fo">See demo</a>
            </div>
        </div>
    </div>
    <div class="shape-bottom">
        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1363.5 95.9" style="enable-background:new 0 0 1363.5 95.9;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: #F8FAFF;
                }
            </style>
                    <path class="st0" d="M0,0c273.9,74.2,1092.9,74.2,1363.5,0c0,65,0,95.9,0,95.9H0V0z"></path>
            </svg>
    </div>
</section>




<div class="glide">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">
        <li class="glide__slide">
            <div class="how--row">
                <div class="how--img">
                    <img src="/assets/Guacamole Illustrations/svg/16_message_sent_general.svg">
                </div>
                <div class="how--content">
                    <div class="container">
                        <h5>How it works</h5>
                        <h3>Safe visits, planned ahead</h3>
                        <p>Let people see your peak hours and visitor capacity. Customers will make decisions on when to visit, based on concrete service data. Avoid crowded waiting rooms from the first step.</p>
                        <a href="/plans" class="btn-front btn-outline">Get Started</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="glide__slide">
            <div class="how--row">
                <div class="how--img">
                    <img src="/assets/Guacamole Illustrations/svg/1_work_at_home_general.svg">
                </div>
                <div class="how--content">
                    <div class="container">
                        <h5>How it works</h5>
                        <h3>Virtual visitor queuing</h3>
                        <p>Help your customers practice social distancing, by giving them the means to self check in remotely. Let customers sign in by a call, online and then wait from the safety of their homes or cars.</p>
                        <a href="/plans" class="btn-front btn-outline">Get Started</a>
                      </div>
                </div>
            </div>
           
        </li>
        <li class="glide__slide">
            <div class="how--row">
                <div class="how--img">
                    <img src="/assets/Guacamole Illustrations/svg/2_yoga_general.svg">
                </div>
                <div class="how--content">
                  <div class="container">
                    <h5>How it works</h5>
                    <h3>Connect from a safe distance</h3>
                    <p>Send SMS messages to visitors with status updates. Share any changes or delays in service over the phone to prepare for service and minimize visit time.</p>
                    <a href="/plans" class="btn-front btn-outline">Get Started</a>
                  </div>
                </div>
            </div>
        </li>
      </ul>
      <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
      </div>
    </div>
  </div>


  <section class="appointement-feature">
    <div class="shape"></div>
    <div class="appt-ft-content">
        <div class="wrap">
        <h1>FlexyQ Appointment</h1>
        <p>Allow your customers to book an appointment at whatever time slot that suits them. They can safely check in once they arrive at your location online and you can send them and SMS when you are ready to serve them. </p>
        <p>FlexyQ appointments is a customer appointment booking solution that always shows your available time slots so your customers can schedule an appointment for your services anytime and anywhere.</p>
        <p>Your customers can pick and book an appointment via your own FlexyQ appointment page which has all your available date and time published. Customers can modify or cancel their appointments and you get full insight to your schedule.  
        </p>
        </div>
    </div>
    <div class="appt-ft-img">
        <img src="/assets/Guacamole Illustrations/svg/5_student_general.svg">
    </div>
</section>

  <div class="get-started">
      <div class="container">
          <div class="inner-wrapper">
              <div class="row">
                  <div class="one-half column">
                    <h3>Get started now</h3>
                    <p>Free 7 days trial. No contract. Cancel any time.</p>
                  </div>
                  <div class="one-half column mt-3">
                      <br>
                      <a href="/plans" class="btn-front btn-fo is-icon-hold"><ion-icon name="send"></ion-icon> Try it today</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  

  <%- include('../components/footer') -%>

<%- include('../components/uialert') -%>


<script src="https://unpkg.com/@glidejs/glide@3.4.1/dist/glide.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>


<script>
 document.querySelectorAll('a[href^="#"]').forEach(anchor => {
  anchor.addEventListener('click', function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
      });
  });
});

new Glide('.glide').mount()



var controller = new ScrollMagic.Controller();
var tl = new TimelineMax();


new ScrollMagic.Scene({
  triggerElement: "#about",
  triggerHook: "onLeave",
  duration: "100%"
})
.setTween(tl)
.setTween("#vp, #about", 0.5, {backgroundColor: "#df9f7f"}) // trigger a TweenMax.to tween
.addTo(controller);

new ScrollMagic.Scene({
  triggerElement: "#triggerNav",
  triggerHook: "onLeave",
  duration: 1
}).on('start', () => {
    let daklogo = document.querySelector('.dak-logo')
    let whlogo = document.querySelector('.wh-logo')
    let navtop = document.querySelector('.topnav-bar')
    if(daklogo.classList.contains('hide')){
        daklogo.classList.remove('hide')
        whlogo.classList.add('hide')
        navtop.style.boxShadow = '0 0 15px -5px #555'
    } else {
        daklogo.classList.add('hide')
        whlogo.classList.remove('hide')
        navtop.style.boxShadow = 'none'

    }
    
})
.setTween(tl)
.setTween(".topnav-bar, .tn-items a, .u-logs-a", 0.5, {backgroundColor: "#ffffff", color: '#666'}) // trigger a TweenMax.to tween
.addTo(controller);




</script>