<title>Simple Pricing</title>

<div class="pricing-page container">
    <div class="price-header">
        <h1>Happy Team, Happy Customers</h1>
    </div>
    <%- include('../components/pricing') -%>
</div>

<%- include('../components/uialert') -%>