<div class="pricing-tab">
    <div class="container">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>
                <div>
                  <h3 class="--colored">Simple Pricing</h3>
                </div>
              </th>
           
              <th>
                <h5 class="heading">Professional</h5>
                <div class="info">
                  <h3 class="amount"><span class="gt">$</span>35</h3>
                    <span class="gt btn-block">Per month</span>
                  <a href="#" class="button ap hide-force">active plan</a>

                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cloud Based Queuing Solutions</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>Remote & Walk-in Customers</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>Locations</td>
              <td style="text-align: center;">Unlimited</td>
            </tr>
            <tr>
              <td>Analytics Reports</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>Number of Services</td>
              <td style="text-align: center;">Unlimited</td>
            </tr>
            <tr>
              <td>Number of Users</td>
              <td style="text-align: center;">Unlimited</td>
            </tr>
            <tr>
              <td>SAML-based Single Sign-On</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
             <tr>
               <td></td>
               <td> <a href="/u/register" class="button btn-block  btn-fill sp hide-force">Get started</a></td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>



<script>



  if(document.querySelector('.price-header')){
    document.querySelector('.sp').classList.remove('hide-force')
  } else {
    document.querySelector('.ap').classList.remove('hide-force')
  }
</script>