
<section class="new-pricing">


<!-- 

<div class="pricing-tab">
    <div class="container">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>
                <div>
                  <h3 class="--colored">Simple Pricing</h3>
                </div>
              </th>
           
              <th>
                <h5 class="heading">Professional</h5>
                <div class="info">
                  <h3 class="amount"><span class="gt">$</span>69.95</h3>
                    <span class="gt btn-block">Per month</span>

                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cloud Based Queuing Solutions</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>Remote & Walk-in Customers</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>Locations</td>
              <td style="text-align: center;">Unlimited</td>
            </tr>
            <tr>
              <td>Analytics Reports</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>Number of Services</td>
              <td style="text-align: center;">Unlimited</td>
            </tr>
            <tr>
              <td>Appointment Booking</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
            <tr>
              <td>Number of Users</td>
              <td style="text-align: center;">Unlimited</td>
            </tr>
            <tr>
              <td>SAML-based Single Sign-On</td>
              <td style="text-align: center;"><ion-icon name="checkmark-circle-outline"></ion-icon></td>
            </tr>
             <tr>
               <td></td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>

</div> -->




<br>
<br>
<br>
<section class="bg-white radius-4 border-1 border-color-gray-14 shadow-short md:shadow-card-hover relative overflow-hidden">
        
  <div class="absolute pin-x pos-t-0 border-t-2 border-b-2 md:border-b-0 border-color-brand"></div>
  
<header class="
relative
mt-2d5 mx-3 mb-4
md:mt-4 md:pt-5 md:mx-5 md:pb-9
bg-illo-pricing-unlimited" title="woman and man riding a launched rocket-ship">
<h1 class="t-h2 mb-1">
Unlimited
</h1>

<p class="flex leading-none">
<strong class="weight-normal color-text-heading inline-flex me-1">

<span class="weight-semi self-start">$</span><span class="self-end-ammout">69.95</span>
</strong>
<p class="dur">per month</p>
</small>
</p>
</header>
<div class="--dash"></div>
  
<ul class="
reset-list border-t-1 border-color-gray-14 flex flex-col
pt-2 mb-2d5
md:pt-3 md:mb-5
">

    <li class="flex items-center fz-sm ms-3 me-2 my-1d5 md:mx-5 md:my-2 md:fz-base">
    <span class="flex-none me-2 md:me-1 color-brand">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="block w-icon-20 h-icon-20 md:w-icon-30 md:h-icon-30" height="30" viewBox="0 0 20 20" width="30"><defs><path d="M10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,14.418278 14.418278,18 10,18 Z M10,17 C13.8659932,17 17,13.8659932 17,10 C17,6.13400675 13.8659932,3 10,3 C6.13400675,3 3,6.13400675 3,10 C3,13.8659932 6.13400675,17 10,17 Z M8.89975004,11.0463374 L12.9500111,7 L13.9998515,8.03383871 L8.89975004,12.9999512 L6,10.1726072 L7.04984037,9.13779314 L8.89975004,11.0463374 Z" id="checkbox-circle-alt-a"></path></defs><use fill="currentColor" fill-rule="evenodd" xlink:href="#checkbox-circle-alt-a"></use></svg>
    </span>
    Cloud Based Queuing Solutions
    </li>

    <li class="flex items-center fz-sm ms-3 me-2 my-1d5 md:mx-5 md:my-2 md:fz-base">
    <span class="flex-none me-2 md:me-1 color-brand">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="block w-icon-20 h-icon-20 md:w-icon-30 md:h-icon-30" height="30" viewBox="0 0 20 20" width="30"><defs><path d="M10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,14.418278 14.418278,18 10,18 Z M10,17 C13.8659932,17 17,13.8659932 17,10 C17,6.13400675 13.8659932,3 10,3 C6.13400675,3 3,6.13400675 3,10 C3,13.8659932 6.13400675,17 10,17 Z M8.89975004,11.0463374 L12.9500111,7 L13.9998515,8.03383871 L8.89975004,12.9999512 L6,10.1726072 L7.04984037,9.13779314 L8.89975004,11.0463374 Z" id="checkbox-circle-alt-a"></path></defs><use fill="currentColor" fill-rule="evenodd" xlink:href="#checkbox-circle-alt-a"></use></svg>
    </span>
    Remote & Walk-in Customers
    </li>

    <li class="flex items-center fz-sm ms-3 me-2 my-1d5 md:mx-5 md:my-2 md:fz-base">
    <span class="flex-none me-2 md:me-1 color-brand">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="block w-icon-20 h-icon-20 md:w-icon-30 md:h-icon-30" height="30" viewBox="0 0 20 20" width="30"><defs><path d="M10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,14.418278 14.418278,18 10,18 Z M10,17 C13.8659932,17 17,13.8659932 17,10 C17,6.13400675 13.8659932,3 10,3 C6.13400675,3 3,6.13400675 3,10 C3,13.8659932 6.13400675,17 10,17 Z M8.89975004,11.0463374 L12.9500111,7 L13.9998515,8.03383871 L8.89975004,12.9999512 L6,10.1726072 L7.04984037,9.13779314 L8.89975004,11.0463374 Z" id="checkbox-circle-alt-a"></path></defs><use fill="currentColor" fill-rule="evenodd" xlink:href="#checkbox-circle-alt-a"></use></svg>
    </span>
     Unlimited Locations
    </li>

    <li class="flex items-center fz-sm ms-3 me-2 my-1d5 md:mx-5 md:my-2 md:fz-base">
    <span class="flex-none me-2 md:me-1 color-brand">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="block w-icon-20 h-icon-20 md:w-icon-30 md:h-icon-30" height="30" viewBox="0 0 20 20" width="30"><defs><path d="M10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,14.418278 14.418278,18 10,18 Z M10,17 C13.8659932,17 17,13.8659932 17,10 C17,6.13400675 13.8659932,3 10,3 C6.13400675,3 3,6.13400675 3,10 C3,13.8659932 6.13400675,17 10,17 Z M8.89975004,11.0463374 L12.9500111,7 L13.9998515,8.03383871 L8.89975004,12.9999512 L6,10.1726072 L7.04984037,9.13779314 L8.89975004,11.0463374 Z" id="checkbox-circle-alt-a"></path></defs><use fill="currentColor" fill-rule="evenodd" xlink:href="#checkbox-circle-alt-a"></use></svg>
    </span>
    Analytics Reports
    </li>

    <li class="flex items-center fz-sm ms-3 me-2 my-1d5 md:mx-5 md:my-2 md:fz-base">
    <span class="flex-none me-2 md:me-1 color-brand">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="block w-icon-20 h-icon-20 md:w-icon-30 md:h-icon-30" height="30" viewBox="0 0 20 20" width="30"><defs><path d="M10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,14.418278 14.418278,18 10,18 Z M10,17 C13.8659932,17 17,13.8659932 17,10 C17,6.13400675 13.8659932,3 10,3 C6.13400675,3 3,6.13400675 3,10 C3,13.8659932 6.13400675,17 10,17 Z M8.89975004,11.0463374 L12.9500111,7 L13.9998515,8.03383871 L8.89975004,12.9999512 L6,10.1726072 L7.04984037,9.13779314 L8.89975004,11.0463374 Z" id="checkbox-circle-alt-a"></path></defs><use fill="currentColor" fill-rule="evenodd" xlink:href="#checkbox-circle-alt-a"></use></svg>
    </span>
    Appointment Booking
    </li>
    <li class="flex items-center fz-sm ms-3 me-2 my-1d5 md:mx-5 md:my-2 md:fz-base">
      <span class="flex-none me-2 md:me-1 color-brand">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="block w-icon-20 h-icon-20 md:w-icon-30 md:h-icon-30" height="30" viewBox="0 0 20 20" width="30"><defs><path d="M10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,14.418278 14.418278,18 10,18 Z M10,17 C13.8659932,17 17,13.8659932 17,10 C17,6.13400675 13.8659932,3 10,3 C6.13400675,3 3,6.13400675 3,10 C3,13.8659932 6.13400675,17 10,17 Z M8.89975004,11.0463374 L12.9500111,7 L13.9998515,8.03383871 L8.89975004,12.9999512 L6,10.1726072 L7.04984037,9.13779314 L8.89975004,11.0463374 Z" id="checkbox-circle-alt-a"></path></defs><use fill="currentColor" fill-rule="evenodd" xlink:href="#checkbox-circle-alt-a"></use></svg>
      </span>
      SAML-based Single Sign-On
      </li>
</ul>

<br>
<div class="wrapper-ninety">


  <a href="#" class="button ap hide-force">active plan</a>
  <a href="/u/register" class="button btn-block  btn-fill sp hide-force">Start your 7-day free trial</a>
<br>
</div>

</section>


<script>



  if(document.querySelector('.price-header')){
    document.querySelector('.sp').classList.remove('hide-force')
  } else {
    document.querySelector('.ap').classList.remove('hide-force')
  }
</script>