<% if(user.subscribed == 'true' || user.subscribed == 'active'){ %>

    <div class="mobile-call-desknav hide-lg"><ion-icon name="menu-outline"></ion-icon></div>
<div class="sidebar is-transformed">
    <div class="top-item">
        <a href="/" class="brand-logo"><img src="/assets/interior-logo.png"></a>
        <a href="/u/dashboard"><ion-icon name="logo-web-component"></ion-icon> <span>Overview</span> </a>
        <a href="/u/service"><ion-icon name="chatbubbles-outline"></ion-icon> <span>Service</span> </a>
        <a href="/u/analytics"><ion-icon name="stats-chart"></ion-icon> <span>Analytics</span> </a>
        <a href="/u/team"><ion-icon name="people-outline"></ion-icon> <span>Team</span></a>
        <a href="/u/places"><ion-icon name="location-outline"></ion-icon> <span>Locations</span> </a>
        <a href="/u/appointment"><ion-icon name="browsers-outline"></ion-icon> <span>Appointment</span> </a>
    </div>
    <div class="bottom-item">
        <a href="#" class="user-cred-hover"><ion-icon name="person-circle-sharp"></ion-icon></a>
    </div>
</div>

<div class="user-cred-hover__placeholder hide">
    <div class="top-u-cred">
        <div class="topper">
            <h5><%= user.first %> <%= user.last %></h5>
            <i>Owner Account</i>
        </div>
        <a href="/u/profile">Profile Setup</a>
        <a href="/u/billing">Billing</a>
    </div>
    <a href="/u/logout" class="bottom-u-cred">Logout</a>
</div>



<!-- <div class="screen-notice hide-lg">
    <h1>Please try viewing this page on a large screen</h1>
</div> -->


<% } %>



<script>

    //@Click Desktopnav for mobile
if (document.querySelector('.mobile-call-desknav')) {
    let desknavhere = document.querySelector('.sidebar')

   document.querySelector('.mobile-call-desknav').addEventListener('click', () => {
    
    if(desknavhere.classList.contains('is-transformed')){
        desknavhere.style.transform = 'translateX(0%)'
        desknavhere.classList.remove('is-transformed')
    } else {
        desknavhere.style.transform = 'translateX(-100%)'
        desknavhere.classList.add('is-transformed')
    }
    
})
}
</script>