

<div class="topnav-bar">
    <a href="/" class="brand-f-logo">
      <img src="/assets/flex-02.png" class="wh-logo">
      <img src="/assets/flex-01.png" class="dak-logo hide">
    </a>
    <div class="tn-items">
        <a href="/">Home</a>
        <a href="#about">About Us</a>
        <a href="#feature">Feature</a>
        <a href="#vp">Visit Planner</a>
        <a href="/plans">Pricing</a>
    </div>
    <div class="u-logs">
        <a href="/u/login" class="u-logs-a">Sign In</a>
        <a href="/u/register" class="btn-front btn-fo">Register</a>
    </div>
    <div class="menu-trigger hide-lg"><ion-icon name="menu-outline"></ion-icon></div>
</div>


<div class="mobile-menu not-active hide-lg">
    <a href="/">Home</a>
    <a href="#about">About Us</a>
    <a href="#feature">Feature</a>
    <a href="#vp">Visit Planner</a>
    <a href="/plans">Pricing</a>
    <div class="--dash"></div>
    <a href="/u/login">Sign In</a>
    <a href="/u/register">Register</a>
</div>



<script>

const mobileNav = document.querySelector('.mobile-menu')
document.querySelector('.menu-trigger').addEventListener('click', (e) => {
    e.preventDefault()

    if(mobileNav.classList.contains('not-active')){
        mobileNav.style.transform = 'translateY(0%)'
        mobileNav.classList.remove('not-active')
    } else {
        mobileNav.style.transform = 'translateY(-200%)'
        mobileNav.classList.add('not-active')
    }

})
</script>