

<div class="topnav-bar">
    <a href="/" class="brand-f-logo">
      <img src="/assets/logo_white.svg" class="wh-logo">
    </a>
    <div class="tn-items">
        <a href="/">Home</a>
        <a href="#about">About Us</a>
        <a href="#feature">Feature</a>
        <a href="#vp">Visit Planner</a>
        <a href="/plans">Pricing</a>
    </div>
    <div class="u-logs">
        <a href="/u/login" class="u-logs-a">Sign In</a>
        <a href="/u/register" class="btn-front btn-fo">Register</a>
    </div>
    <div class="menu-trigger hide-lg"><ion-icon name="menu-outline"></ion-icon></div>
</div>


<div class="mobile-menu not-active hide-lg">
    <a href="/">Home</a>
    <a href="#about">About Us</a>
    <a href="#feature">Feature</a>
    <a href="#vp">Visit Planner</a>
    <a href="/plans">Pricing</a>
    <div class="--dash"></div>
    <a href="/u/login">Sign In</a>
    <a href="/u/register">Register</a>
</div>

