<title><%= msg %></title>




<div class="comfirm">
    <h3><%= msg %></h3>
    <button type="submit" class="btn-outline" onclick="window.history.go(-1); return false;">Go back</button>
</div>



<%- include('./components/uialert') -%>


