<title><%= msg %></title>




<div class="confirm">
    <img src="/assets/icons/email.svg">
    <h3><%= msg %></h3>
    <p><%= desc %></p>
    <button type="submit" class="btn-outline" onclick="window.history.go(-1); return false;">Go back</button>
</div>



<%- include('./components/uialert') -%>


