<title>FlexyQ  New password</title>

<section class="auth">
    <div class="auth-wrapper">
        <form action="" method="post">
          <h3>Almost there! 😊</h3>
          <p>We made it this far, let's do this!</p>
            <% if(error_msg != '') { %>
              <div class="alert-errors">
                <div class="notify-warning">
                  <%= error_msg %>
              </div>
            <% } %>
            <% if(error != '') { %>
              <div class="alert-errors">
                  <div class="notify-warning">
                  <%= error %>
                  </div>
              </div>
            <% } %>
            <% if(success_msg != '') { %>
                <div class="alert-success">
                  <div class="notify-success">
                  <%= success_msg %>
                  </div>
                </div>
            <% } %>
            <input type="text" class="u-full-width" placeholder="New Password" name="password">
            <button type="submit" class="btn-fill btn-block">Change password</button>
          </form>
    </div>
</section>



