<title>FlexyQ - Start your free 14 days</title>
<link rel="stylesheet" href="/css/stripe.css">
<link rel="stylesheet" href="/css/index.css">

<script src="https://js.stripe.com/v3/"></script>
<script src="/src/stripe.js" defer></script>
<div class="sr-root">
    <div class="sr-main">
      <header class="sr-header">
        <img src="/assets/flex-01.png">
      </header>

      <div class="sr-payment-summary payment-view">
        <h1 class="order-amount">Start your free trial</h1>
        <span class="commit">No commitments. Cancel anytime.</span>
      </div>
     
      <form>
        <div class="sr-payment-form payment-view">
          <div class="sr-form-row">
            <label for="card-element">
              Payment details
            </label>
            <div class="sr-combo-inputs">
              <div class="sr-combo-inputs-row">
                <input
                  type="hidden" id="email" placeholder="Email" autocomplete="cardholder" class="sr-input" value="<%= user.email %>"
                />
              </div>
              <input type="hidden" value="<%= user._id %>" id="idcatch">
              <input type="hidden" value="true" id="statuscatch">
              <div class="sr-combo-inputs-row">
                <div class="sr-input sr-card-element" id="card-element"></div>
              </div>
            </div>
            <div class="sr-field-error" id="card-errors" role="alert"></div>
          </div>
          <button id="submit" class="button btn-fill">
            <div id="spinner" class="hidden"></div>
            <span id="button-text">Start your free 7 days</span>
          </button>
          <div class="sr-legal-text">
            Your card will be charged after the 7-day free trial
          </div>
        </div>
      </form>
      <div class="sr-payment-summary hidden completed-view">
        <h1>Your subscription is <span class="order-status"></span></h1>
      </div>
      <div class="sr-section hidden completed-view" style="display: none;">
        <div class="sr-callout">
          <pre><code></code></pre>
        </div>
      </div>
    </div>
    <div class="sr-content">
      <div class="pasha-image-stack">
        <img src="/assets/Guacamole Illustrations/svg/9_dancing_general.svg" class="payment-view">
        <img src="/assets/Guacamole Illustrations/svg/15_education_general.svg" class="completed-view hidden">
      </div>
    </div>
  </div>

  <%- include('./components/uialert') -%>